header 
  flex-shrink: 0

.bar 
  margin: auto
  display: flex
  justify-content: space-evenly
  width: 100%
  height: 80px
  background-color: #f2f2f2
  align-items: center

.bar_title 
  font-size: 2rem
  margin: 0

.bar_search 
  width: 60%
  margin: 0
  height: 40px
  outline: none
  border: none
  padding-left: 12px
  font-size: 1.2rem