.about {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  width: 72%;
}

.about_author {
  font-size: 1.5rem;
}

.about_links {
  width: 135px;
  display: flex;
  justify-content: space-evenly;
}

.fab {
  color: #373737;
}

.links_icon {
  font-size: 41px;
  text-decoration: none;
}